// Custom styles.
body {
  text-shadow: 0.01em 0.01em 0.01em #999999 !important;
}

// 文章底部留白更改
.post-widgets {
    padding-top: 0px;
}
.post-nav {
    margin-top: 30px;
}


// 侧栏社交链接
.links-of-author {
     text-align:center
}
// 侧栏RSS按钮样式
.feed-link {
    margin-top: 15px;
    margin-left: 7px;
}
.feed-link a {
    border: 1px solid rgb(247,56,9) !important;
    border-radius: 15px;
}



//文章超链接
.post-body p a{
  color: blue
  border-bottom: none;
  &:hover{
    color: purple
  }
}

